/* *{
    outline: 1px solid;
} */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #F3F5FC;
}
.body{
    display: flex;
    gap: 2em;
    min-height: 90%;
    padding: 2em 2em 2em 2em;
    justify-content: end;
    
}
.imgLogo{
    position: absolute;
    left: 0;
    top: 1em;
}
.container-input{
    width: 60%;


}
.texto{
    box-sizing: border-box;
    margin:1.4em 0 0 0;
    width: 100%;
    height: 70%;
    border: 0;
    resize: none;
    background: #F3F5FC;
    font-size: 2em;
    color: #0A3871;
}

button:active {
    transform: translateY(1.5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
button:hover{
    cursor: pointer;
}
.container-advert-buttom{
    display: grid;
    height: 20%;
}
.container-advert-buttom p{
    margin: 0 0 0 0.5rem;
}
.advert-buttom{
    align-self: flex-end;
}
.container-buttom{
    display: flex;
    gap: 2rem;
}
.btnEncritar{
    background: #0A3871;
    width: 48%;
    border-radius: 16px;
    padding: 15px;
    border: 1px solid #0A3871;
    color: white;
}
.btnDesencritar{
    background: #D8DFE8;
    width: 48%;
    border-radius: 16px;
    padding: 15px;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.container-txt{
    width: 15rem;
    min-height: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 32px;
    justify-content: center;
    padding: 1em;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.all-no-message{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
#traduccion{
    word-wrap: break-word;
    max-width: 15rem;
    color: #495057;
    font-size: 1rem;

}
.container-no-message{
    text-align: center;
  
}
.container-no-message h1{
    font-weight: bold;
    padding: 0.7em;
    font-size: 1em;
}
.container-no-message p{
    font-size: 1em;
}
.img-no-message{
    max-width: 80%;
}
.btnCopiar{
    background: white;
    width: 15rem;
    border-radius: 16px;
    padding: 15px;
    border: 1px solid #0A3871;
    color: #0A3871;
    display: none;
}

@media screen and (max-width:912px){
    .body{
        display: grid;
        justify-content: initial;
    }
    .container-input{
        width: 100%;
    }
    .container-txt{
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    #traduccion{
        max-width:fit-content;
        font-size: 1.25rem;
    }
    .img-no-message{
        display: none;
    }
    .container-no-message > h1{
        font-size: 2rem;
    }
    .container-no-message > p{
        font-size: 1.5rem;
    }
    .cont-btn-copi{
        box-sizing: border-box;
        padding: 10px;
        justify-content: center;
        display: flex;
    }
    .btnCopiar{
        width: 80%;
    }
}
@media screen and (max-width:414px){
    .advert-buttom{
        box-sizing: border-box;
        padding: 10px 0 0;
    }
    .container-buttom{
        flex-direction: column;
        gap: 1rem;
    }
    .btnDesencritar, .btnEncritar{
        width: 100%;
    }
}